name: Build

on:
  push:
    paths: [ '.github/workflows/build.yml','.github/workflows/build_internal.yml','scripts/**','src/**']
  pull_request:
    paths: [ '.github/workflows/build.yml','.github/workflows/build_internal.yml','scripts/**','src/**']
  workflow_dispatch:
    inputs:
      createrelease:
        description: 'Create release?'
        required: false
        default: 'false'

jobs:
  build:
    permissions:
      id-token: write
      attestations: write
      contents: write
    uses: ./.github/workflows/build_internal.yml
    with:
      createrelease: ${{ github.event.inputs.createrelease }}
